[submodule "W2D4-foundry-test/NFTMarket/lib/forge-std"]
	path = W2D4-foundry-test/NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D4-foundry-test/NFTMarket/lib/openzeppelin-contracts"]
	path = W2D4-foundry-test/NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W2D5-foundry-deploy/lib/forge-std"]
	path = W2D5-foundry-deploy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D5-foundry-deploy/lib/openzeppelin-contracts"]
	path = W2D5-foundry-deploy/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W2D5-foundry-deploy/lib/solenv"]
	path = W2D5-foundry-deploy/lib/solenv
	url = https://github.com/memester-xyz/solenv
[submodule "W3D2-Permit/lib/forge-std"]
	path = W3D2-Permit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W3D2-Permit/lib/openzeppelin-contracts"]
	path = W3D2-Permit/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W4D1-NFTMarket-EIP712/lib/forge-std"]
	path = W4D1-NFTMarket-EIP712/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W4D1-NFTMarket-EIP712/lib/openzeppelin-contracts"]
	path = W4D1-NFTMarket-EIP712/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W4D2-IDO/lib/forge-std"]
	path = W4D2-IDO/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
